@import '../_styles.scss';

.entering {
    margin: 5em 0;
}

.content {
    display: flex;
    justify-content: center;
    color: $green;
    
}

.userForm {
    width: 30rem;
    padding: 2em;
    margin: auto;
}

.message {
    color: $teal;
    margin-top: 1em;
}
