@import '../_styles.scss';

.note {
  max-width: 300px;
}

.note-image-preview {
  max-width: 100%;
  height: auto;
}

.note-image {
  max-height: 400px;
  object-fit: cover;
  &:hover {
    cursor: pointer;
  }
}

.note-title {
  color: $green;
}

.note-paragraph {
  padding-bottom: 20px;
}

.note-ask {
  font-weight: bold;
  padding-bottom: 10px;
}

.note-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}