@import '../_styles.scss';

.sidebarbg {
    background-color: $secondary-mint-blue;
    height: 100vh;
    padding: 2em 1em;
    text-align: center;

}

.sbTitles {
    font-family: Abril Fatface;
}

.bio {
    font-size: 11px;
}

.sbIcons {
    color: $purple;
    font-size: 25px;
}