// Neutrals
$background: #FEFAF5;
$text: #4E454A;
$grey: #D9D7DD;

// Theme Colours
$mint-blue: #CCDDDE;
$purple: #B07BAC;
$green: #5F7367;
$teal: #53C5DE;

// Secondary Colours
$secondary-mint-blue: #E7F8FA;
$secondary-green: #2E3A36;
