@import "_styles.scss";

// Bootstrap variable overrides
$body-bg: $background;
$body-color: $text;
$primary: $green;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";